<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="book_store_spt.My.MySettings.spt_book_storeConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;password=@123;database=spt_book_store"
            providerName="MySql.Data.MySqlClient" />
        <add name="book_store_spt.My.MySettings.workConnectionString"
            connectionString="server=localhost;user id=root;password=@123;persistsecurityinfo=True;database=work"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>